@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #fff;
	font-weight: 400;
	font-size: 100%;
	color: #333;
	height: 100%;
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 240px;
}

.no-js .container {
	padding-left: 240px;
}

.menu-panel {
	background: #39F;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
#icon-container{
float:right;
	font-size: 3em;
	
}
.btn-naked {
background: none;
border: none;
float:right;
}
.btn-naked .favorited:after {

color:  red;
}
.btn-naked .not-favorited:before {

border: none;
color: black;
}



.favorited { color: red; }

.not-favorited:hover { color: red; }
#explore a  {
    background-image: url('https://cdn0.iconfinder.com/data/icons/rcons-basic/16/find-48.png') ;
     background-repeat: no-repeat;
background-position: 80% 50% ;
background-size: 40px 40px;




}
#write a  {
    background-image: url('../images/writeicon2.png') ;
     background-repeat: no-repeat;
background-position: 80% 50% ;
background-size: 40px 40px;




}
#drafts a  {
    background-image: url('https://cdn1.iconfinder.com/data/icons/web-3/512/note-128.png') ;
     background-repeat: no-repeat;
background-position: 80% 50% ;
background-size: 40px 40px;




}
#bug a  {
    background-image: url('../images/FontAwesome_f188(0)_32.png') ;
     background-repeat: no-repeat;
background-position: 80% 50% ;
background-size: 40px 40px;




}
.js .menu-panel {

	position: absolute;
	left: -240px;
}

.menu-panel h3 {
	font-size: 1.8em;
	padding: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);

} 

.menu {
	list-style: none;

}

.menu li a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	line-height: 4.8;
	padding: 0 20px;
	cursor: pointer;

	

}

.menu li a:hover,
.menu li.menu-toc-current a{
	background: blue;
}

.menu-panel div {
	margin-top: 20px;
	margin:0 0 0 0;
	padding:0
}

.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);

} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top: 20px;
	left: 60px;
	position: absolute;
	z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 0;
	left: 0;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background:  grey;
}

.bb-custom-wrapper nav span:last-child {
	left: 40px;
}

.menu-button {
	z-index: 1000;
	left: 20px;
	top: 1%;
	text-indent: -9000px;
}



#logocontainer {
  width: 42px;
	height: 42px;
  position:absolute;
	top: 0%;
	right:50%;
	z-index: 1000;
	
	 
	
}
#logo{

	position: absolute;
	width: 62px;
	height: 56px;
	top: 0.8%;

	
}
.showed{
z-index: 4000;
position:absolute;
	right:50px;
	bottom: 80px;
	


}
.toggle{
	font-size: 2.6em;
position:absolute;
color:white;
	right: 15%;
	top: 0.15%;
	

}

.test{
z-index: 4000;
position:absolute;
	right:50px;
	bottom: 80px;
	


}
.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 50px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 10px 5% 10px 5%;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.js .content:after {
	top: auto;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.content h2 {
	font-weight: 300;
	font-size: 4em;
	padding: 0 0 10px;
	color: #333;
	margin: 0 1% 40px;
	text-align: left;
	box-shadow: 0 10px 0 rgba(0,0,0,0.02);
	text-shadow: 0 0 2px #fff;
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content  {
	font-family:"EB Garamond",serif;
	font-size: 1em;
	line-height: 1.6;
	font-weight: 500;
	padding: 5px 8%;
	text-align: justify;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
}
.writeform{

font-family:"EB Garamond",serif;
	
}